.no-print {
    display: none;
}
nav {
    display: none;
}

body {
    font-size: 12px;
}
.print-poster-container {
    width: 420mm;
    height: 594mm;
    margin-top: -1cm;
/*    border: 2px solid black;*/
}
.text {
    margin-left: 0px;
}
h1 {
    font-size: 400pt;
    line-height: 350pt;
    margin-top: 0px;
    margin-left: 1.5cm;
/*    letter-spacing: 1mm;*/
}
.T {
    padding-right: 4mm;
}
.I, .O {
    padding-right: 3mm;
}
.U {
    padding-right: 1mm;
}
h2 {
    display: none;
}
h3 {
}
.cover-info {
    position: absolute;
    top: 7mm;
    left: 13cm;
    font-size: 34pt;
    line-height: 35pt;
    width: 25cm;
}
.cover-info p {
    margin-bottom: 0px;
}
#speakers, #colophon, #location {
    display: none;
}
#register {
    display: none;
}
#program {
    position: absolute;
    top: 12.5cm;
    right: 3cm;
    width: 16cm;
}
#program h3 {
    margin-bottom: 0;
    font-size: 9pt;
    padding-bottom: 0.4mm;
    border-bottom: 0.8mm solid black;
    font-family: "Work Sans Semi Bold";
}
#program td {
    font-size: 13pt;
    padding-top: 2mm;
}
#program td:first-of-type {
    width: 1.8cm;
}

/* COLONNE = 93.75mm */
/* GOUTIÈRE = 5mm */
/* COLONNE 1 = 15mm */
/* COLONNE 2 = 113.75mm */
/* COLONNE 3 = 212.5mm */
/* COLONNE 4 = 311.25mm */
.print-footer {
    position: absolute;
    top: 54cm;
    left: 0mm;
    height: 3cm;
    width: 420mm;
}
.location-print {
    position: absolute;
    bottom: 0cm;
    left: 15mm; /* 1st COL */
    width: 93.75mm;
    font-size: 12pt;
}
.registration-print {
    position: absolute;
    bottom: 0cm;
    left: 113.75mm; /* 2d COL */
    width: 93.75mm;
    font-size: 12pt;
}
.logo-print {
    position: absolute;
    bottom: 0cm;
    left: 212.5mm; /* 3d COL */
    width: 93.75mm;
}
.logo-print img {
    width: 93.75mm;
}
.design-credit {
    position: absolute;
    bottom: 0cm;
    left: 311.25mm; /* 4th COL */
    width: 93.75mm;
    text-align: right;
}

/* PAGE 2 */
#theme {
    position: absolute;
    top: 58cm;
    right: 4cm;
    width: 36cm;
    font-size: 30pt;
}
.print-footer-2 {
    position: absolute;
    top: 111.5cm;
    left: 0mm;
    height: 3cm;
    width: 420mm;
}

@page {
    margin-left: 0cm;
    margin-right: 0cm;
}
