* {
    margin: 0;
    padding: 0;
}

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    page-break-inside:avoid;
}

/* Regular */
@font-face {
    font-family: 'League Gothic';
    src: url('fonts/leaguegothic-italic-webfont.eot');
    src: url('fonts/leaguegothic-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/leaguegothic-italic-webfont.woff') format('woff'),
         url('fonts/leaguegothic-italic-webfont.ttf') format('truetype'),
         url('fonts/leaguegothic-italic-webfont.svg#league_gothic_italicregular') format('svg');
    font-weight: normal;
    font-style: italic;
}

/* Italic */
@font-face {
    font-family: 'League Gothic';
    src: url('fonts/leaguegothic-regular-webfont.eot');
    src: url('fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Work Sans';
    src: url('fonts/WorkSans-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background: url(cardboard.png) repeat;
    background-size: 300px 300px;
    font-family: "Work Sans";
    font-size: 20px;
}
a, a:hover, a:focus, a:visited, a:active {
    color: black;
}
h1 {
    font-family: "League Gothic";
    font-size: 200px;
    line-height: 170px;
    padding: 60px 0;
    margin-left: 50px;
    width: 300px;
    float: left;
}
/*
h2, h3 {
    font-family: "League Gothic";
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 1px;
}*/
h2, h3 {
    font-family: "Work Sans";
    font-size: 30px;
    font-weight: normal;
    display: table;
    border-bottom: 3px solid black;
}
h2 {
    margin: 60px 0 10px 0;
}
h3 {
    margin: 30px 0 5px 0;
}
nav {
    position: fixed;
    width: 100%;
    z-index: 3000;
}
nav li {
    float: left;
    list-style: none;
    padding: 10px 0;
    margin-left: 50px;
}
.text {
    float: left;
    max-width: 700px;
    margin-left: 50px;
}
.draggable {
    cursor: url("cursor-32.png"), auto;
}

@media screen {
    .no-screen {
        display: none;
    }
}

@media print {
    nav {
        display: none;
    }
    .text {
        margin-left: 0px;
    }
    h1 {
        font-size: 250px;
        line-height: 210px;
        margin-top: 0px;
        margin-left: 0px;
    }
    h2 {
        page-break-before: always;
        margin-top: 20px;
    }
    h3 {
        page-break-after: avoid;
    }
    .cover-info {
        position: absolute;
        top: 1.5cm;
        right: 0;
    }
}
@page :left {
    margin-left: 2cm;
    margin-right: 4cm;
}
@page :right {
    margin-left: 4cm;
    margin-right: 2cm;
}
